@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: Pricedown Black;
    src: url(../public/Pricedown\ Bl.otf);
}

html,body{
    height: 100%;
    width: 100%;
    font-family: Pricedown Black;
    
}